<%- include('header') %>


   
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <table>
            <thead>
              <tr>
                <th>post Title</th>
                <th>post details</th>
                <th>post image</th>
                <th>delete</th>
                <th>edit</th>
              </tr>
            </thead>
            <tbody>
              <%alldata.forEach((val)=>{ %>
                  <tr>
                    <td><%=val.post_title%></td>
                    <td><%=val.post_details%></td>
                    <td><img src="<%= '../' + val.post_image %>" width="100" alt="slider"/>
                    </td>
                    <td><a href="/admin/delete_post/<%=val.id%>" id="actionbutton">delete</a></td>
                    <td> <a href="/admin/edit_post/<%=val.id%>" id="actionbutton">edit</a></td>
                  </tr>
             <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/sidebarmenu.js"></script>
<script src="../assets/js/app.min.js"></script>
<script src="../assets/libs/simplebar/dist/simplebar.js"></script>
</body>
</html>